
h1 {
  color: white;
  font-weight: 900;
}

.show-img {
  width: 100%;
  border-radius: 7%;
  border: 5px solid #ff003C;
}

.booking-list {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-description {
  padding: 10px;

  p {
    padding-left: 20px;
    padding-right: 20px;
  }
  h3 {
    font-size: 25;
  }
}
.title {
  padding: 5px;
  h2 {
    font-size: 30px;
    color:#ff003C;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    color:white;
    font-weight: bold;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    display: inline;
  }
}

.container-offers {
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
