
h1 {
  color: white;
  font-weight: 900;
}

.show-img {
  width: 100%;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, transparent 0%, transparent 75%, rgba(0,0,0,0.4));
}

.container-description {
  padding: 10px;

  p {
    padding-left: 20px;
    padding-right: 20px;
  }
  h3 {
    font-size: 25;
  }
}

.title {
  padding: 5px;
  h2 {
    font-size: 30px;
    color:#ff003C;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    color:white;
    font-weight: bold;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    display: inline;
  }
}

.container-offers {
  padding: 0px 30px 120px 30px;
}

.booking-container {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
}

.booking-list-container {
  text-align: left;
  padding: 5px 5px 5px 10px;
  background-color: #333333;
  margin-bottom: 10px ;
  border-radius: 10px;
  

  p {
    margin: 0;
  }
}
