    <link rel="stylesheet" href="/Users/michellemodest/code/MichelleModest/rails-watch-list/app/assets/stylesheets/index.css">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/movies-2000s-lead-1647021290.jpg?crop=1.00xw:0.502xh;0,0&resize=980:*);">

<div class="container">
    <h1>The Planets </h1>
  </div>
</div>
<ul>
  <%# <% @planets.each do |planet|%> %>
  <%# <li><%= link_to planet.name, planet_path(planet) %></li> %>
  <%# <%end %> %>
</ul>
