<div class="main-container">
  <div class="logo-container">
    <%= image_tag "logo-white.png", alt: "Logo" %>
    <h1>No-AirBnB</h1>
    <h2>tag line</h2>
  </div>
  <div class="btn-container">
    <a href="">Explore planets</a>
    <a href="">No-AirBnB your Planet</a>
  </div>
</div>
