.button-primary {
  background-color: $blue;
  color: white;
  font-size: 21px;
  font-weight: 800px;
  border-radius: 5px;
}

.button-primary:active, .button-primary:hover {
  background-color: #7a0ce2;
}

.button-round {
  background-color: #eeeeee;
  padding: 15px 15px;
  border-radius: 50px;
  position: absolute;
  margin: 10px;
}

.button-round:hover {
  background-color: #878484;
}

.button-primary-back {
  text-decoration: none;
  color: black;
  background-color:white;
  font-size: 21px;
  font-weight: 800px;
  border-radius: 50px;
  padding: 10px 15px;
}

.button-primary-back:active, .button-primary-back:hover {
  background-color: #6b6869;
}
