.button-primary {
  background-color: #ff003c;
  font-size: 21px;
  font-weight: 800px;
}


.button-round {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 15%;
  position: absolute;
  margin: 1rem;
}
