.main-container {
  margin: 120px auto;
  color: #333333;
  width: 80%;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;

  img {
    display: flex;
    width: 300px;
  }

  h1 {
    font-size: 44px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: #666666;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: bold;
    width: 260px;

    padding: 10px 20px;
    margin: 8px;
    background-color: #eeeeee; //#212442;
    color: #333333;
    border-radius: 4px;
  }

  a:active, a:hover {
    background-color: #cccccc;//#1a1d3f;
  }

  .button-primary {
    background-color: #ff003c;
    color: white;
    font-size: 21px;
    font-weight: 800px;
  }

  .button-primary:active, .button-primary:hover {
    background-color: #d8004f;
  }

}

.show-container {
  padding: 50px;
  
}
