// * {
//   border: 1px solid red;
// }

.main-container {
  margin-top: 120px;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;

  img {
    display: flex;
    width: 300px;
  }

  h1 {
    font-size: 44px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: #adb4c0;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: bold;
    width: 260px;

    padding: 10px 20px;
    margin: 8px;
    background-color: #353a60;
    border-radius: 4px;
  }
}
