.navbar-lewagon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $black;
  position: fixed;
  bottom: 0;
  height: 80px;
  margin-top: 80px;
  width: 100%;
  border-top: 2px solid $gray;

  a {
    color: white;
    margin: 0 20px;
  }

  a:hover, a:active {
    color: $gray;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
