.navbar-lewagon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212442;
  position: fixed;
  bottom: 0;
  // padding: 30px;
  height: 80px;
  width: 100%;

  a {
    color: white;
    margin: 0 20px;
  }

  a:hover, a:active {
    color: #ff003c;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
