.navbar-lewagon {
  display: flex;
  justify-content: space-around;
  background: #353a60;
  position: fixed;
  bottom: 0;
  padding: 30px;
  width: 100%;

  a {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
